<header>
    <h1>Oussama Mrissa</h1>
    <nav>
        <ul>
            <li><a href="#about">About Me</a></li>
            <li><a href="#work">My Work</a></li>
            <li><a href="#contact">Contact Me</a></li>
            <li><a routerLink="/login">Login</a></li> 

        </ul>
    </nav>
    <div class="theme-switcher">
        <label class="switch">
            <input type="checkbox" id="theme-toggle" checked>
            <span class="slider"></span>
        </label>
        <span id="theme-label">Dark Mode</span>
    </div>
</header>
