<section id="work">
    <h2>My Work</h2>
    <div class="gallery">

        <div class="project" data-project-number="1" data-project-title="Parking cross-platform app and server in .Net">
            <h3>Parking cross-platform app and server in .Net</h3>
            <button class="show-button">Show</button>
            <div class="terminal-window" style="display: none;">
                <pre class="terminal-text"></pre>
            </div>
            <div class="project-content" style="display: none;">
                <div class="project-description">
                    <p>I made a mobile app and a server for a parking solution that was local.</p>
                    <img src="project1-image1.jpg" alt="Project 1 Image 1">
                    <p>this project was made using the .Net framework. The server is made in ASP.Net and is deployed on Azure. It receives info from the
                      local solutions using a plugin made for the in-house software and notifies the relevant users about earnings, statistics, and warnings on their Android or Apple devices.
                    Notifications are sent and received in real time using SignalR. the connections are secure with JWTs
                    </p>
                    <img src="project1-image2.jpg" alt="Project 1 Image 2">
                </div>
            </div>
        </div>

        <div class="project" data-project-number="2" data-project-title="IOT configuration platform in .Net">
            <h3>IOT configuration platform in .Net</h3>
            <button class="show-button">Show</button>
            <div class="terminal-window" style="display: none;">
                <pre class="terminal-text"></pre>
            </div>
            <div class="project-content" style="display: none;">
                <div class="project-description">
                    <p>A web app that authenticates and stores configurations for IOT devices, supporting HTTPS and MQTT.</p>
                    <img src="project2-image1.jpg" alt="Project 2 Image 1">

                </div>
            </div>
        </div>

        <div class="project" data-project-number="3" data-project-title="Real-time web app for vehicle license plates in Angular">
            <h3>Real-time web app for vehicle license plates in Angular</h3>
            <button class="show-button">Show</button>
            <div class="terminal-window" style="display: none;">
                <pre class="terminal-text"></pre>
            </div>
            <div class="project-content" style="display: none;">
                <div class="project-description">
                    <p>A page that updates in real-time, showing the flow of vehicles captured from a camera and displays the license plate numbers.</p>

                </div>
            </div>
        </div>
    </div>
</section>
