<app-about></app-about>
<app-portfolio></app-portfolio>
<div class="reviews-section">

  <app-post
    [profilePhoto]="'https://i.pravatar.cc/150?u=a042581f4e29027704d'"
    [name]="'Jane Smith'"
    [company]="'Google'"
    [rating]="5"
    [description]="'Excellent Employee. Very professional and skilled. Would definitely employ them again!'">
  </app-post>
  <app-post
    [profilePhoto]="'https://i.pravatar.cc/150?u=a042581f4e29026704d'"
    [name]="'Mark Johnson'"
    [company]="'Microsoft'"
    [rating]="4"
    [description]="'Did the job perfectly and as per spec'">
  </app-post>
  <app-post
  [profilePhoto]="'https://i.pravatar.cc/150?u=a142581f4e29026704d'"
  [name]="'Jason Bourne'"
  [company]="'Amazon'"
  [rating]="5"
  [description]="'Oussama is a great team player and developer. Always completes the job on time'">
</app-post>
<app-post
[profilePhoto]="'https://i.pravatar.cc/150?u=a142581f4e29026704d'"
[name]="'Jason Bourne'"
[company]="'Amazon'"
[rating]="5"
[description]="'Despite being here for a short time, Oussama quickly integrated into the team and did not cause our critical project to be delayed. would definitely hire again'">
</app-post>
</div>

<app-contact-form></app-contact-form>
